RewriteEngine On
RewriteBase /

# Exclude existing physical files and directories from rewrite rules
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Route all other traffic to the Slim front-controller index.php
RewriteRule ^ index.php [QSA,L]
